body {
    text-align: center;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

h2 {
    font-weight: normal;
}

.top-container {
    background-color:rgb(255, 241, 212);
    position: relative;
    margin: 0;
}

#my-name {
    width: 500px;
    color: rgb(85, 147, 204);
    font-size: 50px;
    font-family: 'Press Start 2P', sans-serif;
    margin: 30px auto 16px auto;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display: block;
}

#my-name:hover {
    color: #eee;
}

#bio {
    width: 45%;
    margin: 12px auto;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 25px;
    color: rgb(8, 71, 131);
}

.top-cloud {
    width: 165px;
    position: absolute;
    top: 165px;
    right: 13%;
}
.bottom-cloud {
    width: 165px;
    position: absolute;
    left: 13%;
    bottom: 240px;
}
.figure {
    position: relative;
    margin: 100px auto 0 auto;
    display: inline-block;
}

.figure .my-pic {
    position: relative;
    width: 220px;
    border-radius: 100%;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    margin: 0 auto;
}

.figure .trang-pic {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}
.figure:hover .my-pic {
    opacity: 1;
}

.mountain-img {
    display: block;
    padding: 0;
    margin: 0 auto;
}


.middle-container {

}


.skills-heading {
    width: 145px;
    margin: 25px auto 45px auto;
    font-size: 28px;
    letter-spacing: 3px;
    border-bottom: 2px solid;
}

.skills {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto auto;
    justify-content: center;
}

.skills-img {
    width: 350px;
}

.bottom-container {
}


.hr-short {
    width: 500px;
    border-color: black;
}

